#common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        base64-secret: NTIyZjllODViODc5YTQ0NTRiNWNhYjRlZTRkOTgzYTdiZTIxNmZlNzE0NmVkMmFiOWVmYWNlMzM3MGIyOGUwMjNhYjdjOGNjYzFlMmRmMTE5NjUwNDAwNWJiMzMzMWViYzMzMg==
eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@jhipster-registry:8761/eureka/
